.card {
    padding: 2em;
    max-height: 155px;
    box-shadow: 0px 5px 3px 3px #ddd8d894;
    cursor: pointer;
}

.card:hover {
    background-color: #f3f8fd;
    box-shadow: none;
    border:var(--bs-card-border-width) solid rgb(0 0 0 / 1%)
}

.card h6 {
    color: #dcaf55;
}

.card p {
    font-size: 14px;
    max-height: 45px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.loadMore {
    text-decoration: none;
    cursor: pointer;
}

.tooltip-container {
    background-color: black !important;
    color: white !important;
    font-size: 12px;
}

.tooltip-container .tooltip-arrow::after {
    border-color: transparent transparent transparent #000;
 }

.noBeerContent {
    font-weight: 400;
}

.noBeerContent a {
    text-decoration: none;
}

.customBeerImage img {
    border: 1px solid #d1c8c8;
}